
body {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.section {
    border: 2px solid gray;
    border-radius: 4px;
    margin-bottom: 20px;
}

h2 {
    margin-left: 30px;
    /*border: 1px solid green;*/
}

#color-container {
    display: flex;
    flex-wrap: wrap;
    /*border: 1px solid purple;*/
}

.color-element {
    display: flex;
    width: 350px;
    margin: 20px;
    padding: 10px;
    /*border: 1px solid red;*/
}

.color-box {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 4px;
    margin-right: 10px;
}

#color1 {
    background-color: #DDE7EE;
}

#color2 {
    background-color: #C1CDDB;
}

#color3 {
    background-color: #AABACA;
}

#color4 {
    background-color: #D8D2CD;
}

#color5 {
    background-color: #F2E8DA
}

h3 {
    font-weight: 400;
    text-decoration: underline;
    margin: 0px;
    /*border: 1px solid green;*/
}

.color-text {
    width: 220px;
    font-size: 14px;
    /*border: 1px solid blue;*/
}

#font-container {
    display: flex;
    flex-wrap: wrap;
    /*border: 1px solid purple;*/
}

.font-element {
    width: 500px;
    margin: 20px;
    padding: 10px;
    /*border: 1px solid red;*/
}

#font1 {
    font-family: "Poppins";
}

#font2 {
    font-family: "Work Sans";
}

#font3 {
    font-family: "Merriweather Sans";
}

.style-element {
    width: 500px;
    margin: 20px;
    padding: 10px;
    /*border: 1px solid red;*/
}

#main-heading {
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 0;
}

#subheading {
    font-family: "Merriweather Sans";
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

#paragraph {
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}